.App {
  text-align: center;
}

.beanie {
  box-shadow: 5px 10px lightgrey;
  width: 300px;
  height: 300px;
  display: flex;
  padding: 50px;
  float: left;
  margin: 25px;
  justify-content: center;
}

.beanie-text {
  text-align: center;
  font-size: 19px;
}

.main {
  margin: 0;
  padding: 0;
  justify-content: center;  
}