* {
  text-align: center; 
  background-color: #f3e6e8;
  background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%); 
}

.main,
.beanie,
.beanie-image,
.beanie-image p,
.beanie-text,
.poem,
.name,
.Ebay,
a
 {
  background: white;
}


.banner {
  background-color: #89d4cf;
  background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
  height: 150px;
}

.banner-img {
  width: 100%;
}

.input {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 50%;
  padding: 12px 20px;
  display: inline-block;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.beanie {
  border: solid lightgray;
  display: flex;
  float: left;
  height: 350px;
  padding: 50px;  
  position: relative;
  margin-left: 10%;
  margin-top: 10px;
  width: 350px;
}
.beanie-image {
  justify-content: center;
}

.poem {
  border-style: solid;
}


.beanie-text {
  text-align: center;
  font-size: 25px;
}

.Ebay {
  width: 70px;
  height: 50px;
  position: absolute;
}

